@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 0.897);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.nav {
  height: 10vh;
  background-color: #243454;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    top: 0px;
    position: fixed;
  }
  .nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
  }
  .nav .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
}

.nav-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  align-items: center;
}
.nav-logo span {
  color: rgba(255, 255, 255, 0.897);
  font-size: 25px;
}
@media screen and (max-width: 425px) {
  .nav-logo span {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav-logo {
    width: 90%;
    margin: auto;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 45%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #243454;
    clip-path: circle(13.7% at -10% -10%);
    -webkit-clip-path: circle(13.7% at -10% -10%);
    height: 100vh;
    pointer-events: none;
    position: fixed;
    transition: all 500ms ease-out;
    width: 100%;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1200px at -10% -10%);
    -webkit-clip-path: circle(1200px at -10% -10%);
    pointer-events: all;
  }
  .nav-links.open a {
    opacity: 1;
  }
}
.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 10px;
  border-left: 10px solid #243454;
  border-right: 10px solid #243454;
  border-bottom: 5px solid white;
}
@media screen and (max-width: 768px) {
  .nav-links a {
    opacity: 0;
    transition: all 100ms;
    border: none;
  }
}

.header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 10vh;
  }
}

.header-left {
  width: 50%;
  height: 100%;
  background-color: #243454;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (max-width: 425px) {
  .header-left {
    order: 2;
    width: 100%;
    height: 50%;
  }
}
.header-left .description {
  align-self: center;
  height: 90%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .header-left .description {
    width: 100%;
    height: 100%;
    background-color: #243454;
  }
}
.header-left .description .datos {
  width: 100%;
  align-self: center;
  text-align: center;
}
.header-left .description .datos h1 {
  font-size: 50px;
  padding: 5px 0px;
  color: #0b1833;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos h1 {
    padding: 10px 0px 5px 0px;
    color: white;
    font-size: 25px;
  }
}
.header-left .description .datos strong {
  font-size: 20px;
  color: #243454;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos strong {
    color: white;
    font-size: 16px;
  }
}
.header-left .description .datos p {
  margin: auto;
  width: 90%;
  font-size: 18px;
  padding: 20px 0px 0px 0px;
  color: #0b1833;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos p {
    color: white;
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    width: 98%;
  }
}
.header-left .description .datos .redes {
  padding: 10px 0px;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos .redes {
    padding: 5px 0px;
  }
}
.header-left .description .datos .redes h4 {
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  color: #243454;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos .redes h4 {
    color: white;
    padding: 2px 0px;
  }
}
.header-left .description .datos .redes i {
  font-size: 40px;
  color: #0b1833;
}
@media screen and (max-width: 425px) {
  .header-left .description .datos .redes i {
    padding: 10px 0px;
    color: white;
  }
}

.header-right {
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 425px) {
  .header-right {
    order: 1;
    width: 100%;
    height: 50%;
  }
}
.header-right .description {
  align-self: center;
  height: 90%;
  width: 90%;
  background-color: #243454;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .header-right .description {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}
.header-right .description img {
  width: 75%;
  border-radius: 20px;
}
@media screen and (max-width: 425px) {
  .header-right .description img {
    width: 70%;
    border-radius: 10px;
  }
}

.main {
  width: 100%;
  background-image: linear-gradient(90deg, rgba(36, 52, 84, 0.9) 30%, rgba(36, 52, 84, 0.7) 40%, rgba(36, 52, 84, 0.9) 30%), url("../img/markus-spiske-AaEQmoufHLk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main-contenido {
  width: 90%;
  margin: auto;
}
.main .main-contenido h3 {
  padding: 40px 0px;
  width: 100%;
  font-size: 44px;
  text-align: center;
  color: rgba(255, 255, 255, 0.897);
}
.main .main-contenido .proyectos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .main-contenido .proyectos .proyecto {
  width: 30%;
  transition: all 500ms;
  opacity: 0.7;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .main .main-contenido .proyectos .proyecto {
    margin-top: 30px;
    width: 100%;
  }
}
.main .main-contenido .proyectos .proyecto::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  transform: translateY(0%);
  transition: all 500ms;
}
.main .main-contenido .proyectos .proyecto img {
  width: 100%;
}
.main .main-contenido .proyectos .proyecto:hover {
  transform: scale(1.05);
  opacity: 1;
}
.main .main-contenido .proyectos .proyecto:hover::before {
  transform: translateY(-100%);
}

/*# sourceMappingURL=index.css.map */
