$AzulLautado: rgb(36, 52, 84);
$BlancoSuave: rgba(255, 255, 255, 0.897);
$AzulIntenso: rgb(11, 24, 51);
$CelesteSuave: rgb(91, 120, 199);
$Fuente: sans-serif;
@mixin flex($state) {
  display: flex;
  flex-direction: $state;
  flex-wrap: wrap;
}
@mixin reset() {
  margin: 0px;
  padding: 0px;
}
* {
  @include reset();
  box-sizing: border-box;
}
body {
  background-color: $BlancoSuave;
  font-family: $Fuente;
}

.container {
  width: 100%;
}
.nav {
  height: 10vh;
  background-color: $AzulLautado;
  @include flex(row);
  justify-content: space-around;
  .nav-logo {
    @include flex(row);
    width: 40%;
    align-items: center;
    span {
      color: $BlancoSuave;
      font-size: 25px;
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      margin: auto;
    }
  }
  .nav-links {
    @include flex(row);
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
      @include flex(column);
      background-color: $CelesteSuave;
      clip-path: circle(13.7% at 1% -10%);
      height: 100vh;
      pointer-events: none;
      position: fixed;
      transition: all 1s ease-out;
      width: 100%;
      z-index: 2;
      &.open {
        clip-path: circle(1100px at 1% -10%);
        pointer-events: all;
      }
      &.open a {
        opacity: 1;
      }
    }
    a {
      color: white;
      font-size: 18px;
      text-decoration: none;
      padding: 5px 10px;
      border-left: 10px solid $AzulLautado;
      border-right: 10px solid $AzulLautado;
      border-bottom: 5px solid white;
      @media screen and (max-width: 768px) {
        opacity: 0;
        transition: all 2s;
        border: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: relative;
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 3;
    }
    .line {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 5px;
    }
  }
}

.header {
  width: 100%;
  height: 90vh;
  @include flex(row);
  .header-right {
    width: 50%;
    height: 100%;
    background-color: $AzulLautado;
    @include flex(row);
    justify-content: flex-end;
    .description {
      align-self: center;
      height: 90%;
      width: 90%;
      background-color: white;
    }
  }
  .header-left {
    height: 100%;
    width: 50%;
    background-color: white;
    @include flex(row);
    justify-content: flex-start;
    .description {
      align-self: center;
      height: 90%;
      width: 90%;
      background-color: $AzulLautado;
    }
  }
}
